/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/[Ee]xports/
/[Aa][Rr][Ee]xports/
/.vs/
*.csproj
*.sln
*.slnx
*.ipa
*.alf
*.ulf
*.p12
*.p8
*.mobileprovision
*.htm
xcode-export.zip
.DS_Store

